#loading {
    width: 700px;
    height: 700px;
}

@keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #fff,
                0 0 40px #d70fcf,
                0 0 80px #d70fcf,
                0 0 90px #d70fcf,
                0 0 100px #d70fcf,
                0 0 150px #d70fcf;

    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

html {
    background-color: black;
    background-image: url("img/wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Audiowide', cursive;
}

#movies {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 600px;
    width: 60%;
}

.movieCard {
    border: 1px black solid;
    border-radius: 15px;
    width: 75%;
    text-align: center;
    margin: 15px 30px;
    padding: 15px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 2px 2px 8px #d70fcf;
    transition: all ease-in-out;
}

.movieCard:hover {
    transform: scale(1.15);
}

h2 {

}

.editButton {
    background-color: white;
    border-radius: 5px;
}

.deleteButton {
    background-color: red;
    border-radius: 5px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
}
#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#content {
    display: none;
}

#addMovieContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 15px;
    min-width: 200px;
    text-align: center;
    margin: auto;
    padding: 15px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 4px 4px 8px #d70fcf;
}

/*#addMovieContainer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    border: 2px solid black;*/
/*    margin: 10px;*/
/*    padding: 20px;*/
/*    background-color: #f7f7f7;*/
/*    border-radius: 5px;*/
/*    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);*/
/*}*/

#addMovieContainer h3,
#addMovieContainer label {
    display: block;
    text-align: center;
    margin: 10px 0;
}

#addMovieContainer button {
    border-radius: 5px;
}

nav {
    text-align: center;
    margin: 0;
}


h1 {
    font-size: 72px;
    font-family: 'Audiowide', cursive;
    animation: flicker 1.5s infinite alternate;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #d70fcf,
            0 0 82px #d70fcf,
            0 0 92px #d70fcf,
            0 0 102px #d70fcf,
            0 0 151px #d70fcf;
}

#movieCount {
    border-radius: 15px;
    box-shadow: 4px 4px 8px #d70fcf;
    background-color: rgba(255,255,255,0.75);
    font-size: 24px;
    text-decoration: 5px #d70fcf underline overline;
    width: 250px;
    text-align: center;
    margin: 15px 30px;
    padding: 15px;
}

#mainContainer {
    display: flex;
}


